attrs
beautifulsoup4
certifi
charset-normalizer
dill
h11
idna
inquirerpy
lxml
multiprocess
outcome
pfzy
pip
prettytable
prompt_toolkit
PySocks
selenium
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
typing_extensions
urllib3
wcwidth
websocket-client
wsproto